@import 'vars.scss';

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: $text;
    bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}

ul {
    list-style: none;

}

.container {
    margin: 0 auto;
    min-width: 1650px;
    padding: 0 15px;
}
.menu-burger{
    cursor: pointer;
}
.menu-btn {
	width: 70px;
	height: 40px;
	z-index: 999;
	overflow: hidden;
    display: none;
    cursor: pointer;
}
.menu-btn span {
	width: 100px;
	height: 1px;
	position: absolute;
	top: 8%;
    left: 85%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
    cursor: pointer;
}
.menu-btn span:nth-of-type(2) {
	top: calc(8% - 8px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(8% + 8px);
}
.menu-btn span:nth-of-type(4) {
	top: calc(8% + 15px);
}
.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	height: 70%;
	padding: 15px;
    background: #f1f1f1;
	transform: translateX(100%);
	transition: transform 0.9s; 
    border-radius: 20px;
    z-index: 999;
}
.menu.active {
	transform: translateX(0);
}
.menu li {
	list-style-type: none;
}
.menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(4) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 6%;
    transform:  rotate(45deg);  
    z-index: 1000;
    width: 50px;
    left: 90%;
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 6%;
    left: 90%;
    transform:  rotate(-45deg); 
    z-index: 1000;
    width: 50px;
  }

header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            position: relative;
        }
        .nav {
            display: flex;
            align-items: center;

            li:hover {
                color: $accent;
                font-weight: 700;
            }

            li {
                margin-left: 60px;
                font-size: 16px;
                line-height: 19px;
            }
        }
        .tel {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            .tel-1:hover{
                color: $accent;
            }
            .tel-1 {
                img {
                    margin-right: 15px;
                }
                cursor: pointer;
                display: flex;
                align-items: flex-end;
            }
            .tel-2:hover{
                color: $accent;
            }
            .tel-2 {
                img {
                    margin-right: 15px;
                }
                cursor: pointer;
                margin-left: 40px;
                display: flex;
                align-items: flex-end;

            }
        }
    }
}
.main{
    background-image:  url(../images/about/main-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 85px;
    .container{
        .dom{
            font-size: 12px;
            line-height: 14px;
            padding-top: 40px;
            margin-bottom: 70px;
            span{
                color: $accent;
            }
        }
        .title{
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 65px;
        }
    }
}
.description{
    margin-bottom: 200px;
    height: 470px;
    .container{
       .description-inner{
           display: flex;
           align-items: center;
           .descr{
               .title{
                   font-size: 36px;
                   line-height: 46px;
                   font-weight: 700;
                   text-transform: uppercase;
                   width: 574px;
                   margin-bottom: 45px;
                   span{
                       color: $accent;
                   }
               }
               .text{
                   line-height: 28px;
                   width: 750px;
                   font-weight: 500;
                   font-family: 'Montserrat', sans-serif;
                   margin-left: -25px;
                   li{
                       margin-bottom: 25px;
                   }
               }
           }
           .img{
               position: absolute;
               right: 0;
               
           }

       }
    }
}
.advantages{
    margin-bottom: 150px;
    .container{
        .title{
            font-size: 36px;
            line-height: 46px;
            text-transform: uppercase;
            font-weight: 700;
            width: 650px;
            margin-bottom: 50px;
            span{
                color: $accent;
            }
        }
        .advantages-inner{
            display: flex;
            justify-content: flex-end;
            margin-right: 200px;
            .info{
                margin-top: 20px;
                .info-inner{
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                }
                .text{
                   line-height: 28px;
                   width: 620px;
                   font-weight: 500;
                   font-family: 'Montserrat', sans-serif;
                   margin-left: -25px;
                   margin-bottom: 60px;
                   li{
                       margin-bottom: 25px;
                   }
                }
            }
            .img{
                position: absolute;
                left: 0;
                img{
                    width: 810px;
                }
            }
        }
    }
}



.about {
    .container {
        .title {
            width: 665px;
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 85px;

            span {
                color: $accent;
            }
        }

        .about-inner {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 85px;

            .item {
                width: 420px;

                .item-main {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 35px;

                    div {
                        font-size: 30px;
                        line-height: 35px;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}










footer{
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
    position: static;
    .container{
        .footer-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
               div{
                 margin-top: 22px;
                 text-transform: uppercase
               }
            }
            .navbar{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .list{
                    margin-top: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 625px;
                    margin-bottom: 55px;
                    li:hover{
                        color: $accent;
                        font-weight: 700;
                    }
                    li{
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
                .link{
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    font-size: 14px;
                }
                
            }
            .info{
                display: flex;
                flex-direction: column;
                .tel{
                    a{
                        line-height: 22px;
                        font-weight: 700;
                        margin-right: 22px;
                        color: $accent;
                    }
                    margin-bottom: 25px;
                }
                .adres{
                    margin-bottom: 50px;
                }
            }
        }
        .footer-inner-mb{
            display: none;
            .logo{
                margin-bottom: 15px;
                a{
                    img{
                        width: 85px;
                        height: 50px;
                    }
                }
            }
            .mb-inner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .one{
                    div{
                        font-size: 6px;
                        line-height: 7px;
                        margin-bottom: 15px;
                        text-transform: uppercase;
                    }
                    a{
                        text-transform: uppercase;
                        font-size: 6px;
                        line-height: 7px;
                        text-decoration-line: underline;
                        
                    }
                }
                .two{
                    div{
                        font-size: 6px;
                        line-height: 7px;
                        margin-bottom: 15px;
                    }
                    a{
                        text-transform: uppercase;
                        font-size: 6px;
                        line-height: 7px;
                    }
                }
                .tree{
                    font-size: 10px;
                    line-height: 12px;
                    color: $accent;
                    font-weight: 700;
                    a{
                        display: block;
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }
}


























@media(max-width: 1650px) {
    .container {
        min-width: 1400px;
    }
    .description{
        .container{
            .img{
                margin-top: 70px;
                img{
                    width: 600px;
                }
            }
        }
    }
    .advantages{
        .container{
            .advantages-inner{
                margin-right: 0;
                .img{
                    img{
                        width: 700px;
                    }
                }
            }
        }
    }
}
@media(max-width: 1400px) {
    .container {
        min-width: 1200px;
    }
    .description{
        margin-bottom: 600px;
        .container{
            .description-inner{
                flex-direction: column;
                
                .img{
                    position: absolute;
                    top: 950px;
                    right: 0;
                    img{
                        width: 700px;
                    }
                }
            }
        }
    }
    .advantages{
        .container{
            .title{
                margin-left: 20%;
            }
            .advantages-inner{
                margin-right: 30%;
                .info{
                    margin-bottom: 450px;
                    
                }
                .img{
                    img{
                        width: 800px;
                        margin-top: 530px;
                    }
                }
            }
        }
    }
}
@media(max-width: 1200px) {
    .container {
        min-width: 900px;
    }
    header {
        .container {
            .nav {
                margin-left: -300px;
            }

            .tel {
                display: none;
            }
        }
    }
    .about {
        .container {
            .title {
                font-size: 38px;
                width: 600px;
            }

            .about-inner {
                flex-direction: column;
                margin: 0;
                align-items: flex-start;

                .item {
                    margin-bottom: 80px;
                }
            }
        }
    }
    .advantages{
        .container{
            .title{
                margin-left: 4%;
            }
        }
    }
    footer{
        .container{
            .footer-inner{
                display: none;
            }
            .footer-inner-mb{
                display: block;
                .logo{
                    margin-bottom: 25px;
                    a{
                        img{
                            width: 160px;
                            height: 120px;
                        }
                    }
                }
                .mb-inner{
                    .one{
                        div{
                            font-size: 14px;
                            line-height: 16px;
                        }
                        a{
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    .two{
                        div{
                            font-size: 14px;
                            line-height: 16px;
                        }
                        a{
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                    .tree{
                        font-size: 16px;
                        line-height: 16px;

                    }
                }
            }
        }
    }
}
@media(max-width: 900px) {
    .container {
        min-width: 768px;
    }
    .advantages{
        .container{
            .title{
               margin: 0;
               margin-bottom: 30px;
            }
            .advantages-inner{
                margin: 0;
                justify-content: start;
                .info{
                    margin-bottom: 450px;
                    
                }
                .img{
                    img{
                        width: 650px;
                        margin-top: 530px;
                    }
                }
            }
        }
    }
}
@media(max-width: 768px) {
    .container {
        min-width: 560px;
    }
    .menu-btn{
        display: block;
    }
    .menu-burger{
        .menu{
            .logo{
                padding: 20px 15px;
                a{
                    img{
                        max-width: 150px;
                    }
                }
            }
            nav{
                margin-left: 25px;
                li:hover{
                    color: $accent;
                }
                li{
                    font-size: 18px;
                    line-height: 21px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                li:nth-child(5){
                    margin-bottom: 35px;
                }
            }
            .adres{
                margin-left: -8px;
                font-size: 14px;
                line-height: 17px;
                li{
                    margin-bottom: 10px;
                }
                li:hover{
                    color: $accent;
                }
            }
            .items{
                display: flex;
                margin-left: -10px;
                margin-bottom: 30px;
                li{
                    margin-right: 30px;
                }
                li:hover{
                    a{
                        path{
                            fill: $accent;
                        }
                        circle{
                            stroke: $accent;
                        }
                    }
                }
            }
            .button{
                button:hover{
                    color: $white;
                    background: linear-gradient(180deg, #1E97EF 0%, #006FBF 100%);
                }
                button{
                    border: 2px solid $accent;
                    font-size: 10px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-weight: 700;
                    width: 150px;
                    outline: none;
                    border-radius: 40px;
                    padding: 15px;
                    margin-left: 15px;
                    color: $accent;
                }
            }
        }
    }
    header {
        .container {
            .nav {
                display: none;
            }

            .logo {
                a {
                    img {
                        width: 190px;

                    }
                }
            }
        }
    }
    .main{
        .container{
            .dom{
                padding-top: 20px;
                margin-bottom: 10px;
            }
            .title{
                font-size: 23px;
                line-height: 27px;
                padding-bottom: 20px;
            }
        }
    }
    .description{
        margin-bottom: 300px;
        .container{
            .description-inner{
                flex-direction: column;
                
                align-items: flex-start;
                .descr{
                    .title{
                        font-size: 25px;
                        line-height: 23px;
                        width: 365px;
                    }
                    .text{
                        font-size: 15px;
                        line-height: 20px;
                        width: 460px;
                    }
                }
                .img{
                    position: absolute;
                    top: 700px;
                    right: 0;
                    img{
                        width: 500px;
                    }
                }
            }
        }
    }




    .about {
        .container {
            .title {
                font-size: 28px;
                width: 400px;
                margin-bottom: 40px;
            }

            .about-inner {
                .item {
                    margin-bottom: 60px;

                    .item-descr {
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .advantages{
        margin-top: 400px;
        .container{
            .title{
                font-size: 20px;
                line-height: 23px;
                width: 300px;
            }
            .advantages-inner{
                margin: 0;
                .info{
                    margin-bottom: 200px;
                    .text{
                        font-size: 15px;
                        line-height: 20px;
                        width: 406px;
                    }
                    .info-inner{
                        margin-bottom: 0;
                        .item{
                            img{
                                width: 40px;
                                margin-bottom: 10px;
                            }
                            div{
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
                .img{
                    
                    img{
                        width: 500px;
                        margin-top: 400px;
                    }
                }
            }
        }
    }
    footer{
        .container{
            .footer-inner{
                display: none;
            }
            .footer-inner-mb{
                display: block;
                .logo{
                    margin-bottom: 25px;
                    a{
                        img{
                            width: 85px;
                            height: 50px;
                        }
                    }
                }
                .mb-inner{
                    .one{
                        div{
                            font-size: 6px;
                            line-height: 7px;
                            margin-bottom: 15px;
                            text-transform: uppercase;
                        }
                        a{
                            text-transform: uppercase;
                            font-size: 6px;
                            line-height: 7px;
                            text-decoration-line: underline;
                            
                        }
                    }
                    .two{
                        div{
                            font-size: 6px;
                            line-height: 7px;
                            margin-bottom: 15px;
                        }
                        a{
                            text-transform: uppercase;
                            font-size: 6px;
                            line-height: 7px;
                        }
                    }
                    .tree{
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }
    }

}
@media(max-width: 560px) {
    .container {
        min-width: 360px;
    }

    .logo {
        a {
            img {
                max-width: 92px;


            }
        }
    }
    .description{
        margin: 0;
        .container{
            .description-inner{
                flex-direction: column;
                
                align-items: flex-start;
                .descr{
                    .title{
                        font-size: 20px;
                        line-height: 23px;
                        width: 265px;
                    }
                    .text{
                        font-size: 10px;
                        line-height: 14px;
                        width: 300px;
                    }
                }
                .img{
                    position: absolute;
                    top: 600px;
                    right: 0;
                    img{
                        width: 350px;
                    }
                }
            }
        }
    }
    .about {
        .container {
            .title {
                font-size: 23px;
                width: 300px;
                margin-bottom: 30px;
                line-height: 27px;
            }
    
            .about-inner {
                .item {
                    margin-bottom: 40px;
                    width: 330px;
    
                    .item-main {
                        margin-bottom: 15px;
    
                        div {
                            font-size: 14px;
                            line-height: 16px;
                        }
    
                        .item-descr {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
    .advantages{
        margin-top: 250px;
        margin-bottom: 80px;
        .container{
            .title{
                font-size: 20px;
                line-height: 23px;
                width: 300px;
            }
            .advantages-inner{
                margin: 0;
                .info{
                    margin-bottom: 200px;
                    .text{
                        font-size: 12px;
                        line-height: 14px;
                        width: 296px;
                        margin-bottom: 20px;
                    }
                    .info-inner{
                        margin-bottom: 0;
                        .item{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            img{
                                width: 30px;
                                margin-bottom: 10px;
                            }
                            div{
                                font-size: 10px;
                                line-height: 14px;
                            }
                        }
                    }
                }
                .img{
                    
                    img{
                        width: 350px;
                        margin-top: 330px;
                    }
                }
            }
        }
    }
    .menu-burger
        .menu-btn{
           span{
               width: 40px;
               top: 8%;
           }
           span:nth-of-type(2) {
                top: calc(8% - 8px);
            }
            span:nth-of-type(3) {
                top: calc(8% + 8px);
            }
            span:nth-of-type(4) {
                top: calc(8% + 15px);
            }
    }
}
@media(max-width: 360px) {
    .container {
        min-width: 300px;
    }
    .description{
        margin-bottom: 120px;
        .container{
            .description-inner{
                .img{
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
    .advantages{
        .container{
            .advantages-inner{
                .img{
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
}