@import 'vars.scss';

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: $text;
    bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}

ul {
    list-style: none;

}

.container {
    margin: 0 auto;
    min-width: 1650px;
    padding: 0 15px;
}
.menu-burger{
    cursor: pointer;
}
.menu-btn {
	width: 70px;
	height: 40px;
	z-index: 999;
	overflow: hidden;
    display: none;
    cursor: pointer;
}
.menu-btn span {
	width: 100px;
	height: 1px;
	position: absolute;
	top: 8%;
    left: 85%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
    cursor: pointer;
}
.menu-btn span:nth-of-type(2) {
	top: calc(8% - 8px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(8% + 8px);
}
.menu-btn span:nth-of-type(4) {
	top: calc(8% + 15px);
}
.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	height: 70%;
	padding: 15px;
    background: #f1f1f1;
	transform: translateX(100%);
	transition: transform 0.9s; 
    border-radius: 20px;
    z-index: 999;
}
.menu.active {
	transform: translateX(0);
}
.menu li {
	list-style-type: none;
}
.menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(4) {
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    top: 6%;
    transform:  rotate(45deg);  
    z-index: 1000;
    width: 50px;
    left: 90%;
  }
  .menu-btn.active span:nth-of-type(3) {
    top: 6%;
    left: 90%;
    transform:  rotate(-45deg); 
    z-index: 1000;
    width: 50px;
  }

header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            position: relative;
        }
        .nav {
            display: flex;
            align-items: center;

            li:hover {
                color: $accent;
                font-weight: 700;
            }

            li {
                margin-left: 60px;
                font-size: 16px;
                line-height: 19px;
            }
        }
        .tel {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            .tel-1:hover{
                color: $accent;
            }
            .tel-1 {
                img {
                    margin-right: 15px;
                }
                cursor: pointer;
                display: flex;
                align-items: flex-end;
            }
            .tel-2:hover{
                color: $accent;
            }
            .tel-2 {
                img {
                    margin-right: 15px;
                }
                cursor: pointer;
                margin-left: 40px;
                display: flex;
                align-items: flex-end;

            }
        }
    }
}
.main{
    background-image:  url(../images/about/main-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 85px;
    .container{
        .dom{
            font-size: 12px;
            line-height: 14px;
            padding-top: 40px;
            margin-bottom: 70px;
            span{
                color: $accent;
            }
        }
        .title{
            font-size: 48px;
            line-height: 58px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 65px;
        }
    }
}
.price {
    padding-top: 50px;
    background-image: url(../images/price-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    margin-bottom: 150px;

    .container {
        .title {
            font-size: 48px;
            line-height: 56px;
            text-transform: uppercase;
            color: $accent;
            font-weight: 700;
            margin-bottom: 70px;
        }

        .price-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item {
                cursor: pointer;
                width: 420px;
                height: 560px;
                border: 1px solid $accent;
                background-color: $white;
                box-shadow: 1px 4px 8px 4px rgba(30, 151, 239, 0.06);
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .item-title {
                    margin-top: 60px;
                    text-transform: uppercase;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 700;
                }

                .line {
                    width: 310px;
                    height: 2px;
                    background-color: $accent;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    line-height: 28px;
                    text-transform: uppercase;
                    li{
                        display: flex;
                        align-items: center;
                        div{
                            text-align: center;
                        }
                     
                        
                        svg{
                            margin-right: 10px;
                            width: 6px;
                            height: 6px;
                            margin-top: -5px;
                        }
                    }
                }

                .text {
                    font-weight: 500;
                    line-height: 28px;
                    text-align: center;
                }

                .button {
                    button {
                        margin-bottom: 50px;
                        padding: 28px 55px;
                        border-radius: 40px;
                        border: 1px solid $accent;
                        background-color: transparent;
                        color: $accent;
                        text-transform: uppercase;
                        width: 315px;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }

            .item:hover {
                transition: .3s;
                border: 3px solid $accent;

                .item-title {
                    color: $accent;
                    transition: .5s;
                }

                .button {
                    button {
                        background: linear-gradient(180deg, #1E97EF 0%, #006FBF 100%);
                        color: $white;
                        transition: .5s;
                    }
                }
            }
        }
    }
}
.service{
    margin-bottom: 150px;
    .container{
        .title{
            text-transform: uppercase;
            font-size: 48px;
            line-height: 34px;
            font-weight: 700;
            color: $accent;
            margin-bottom: 65px;
        }
        nav{
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-left: 20px;
            text-transform: uppercase;
            li:hover{
                color: $accent;
            }
            li{
                font-size: 12px;
                line-height: 14px;
                font-weight: 700;
                margin-right: 30px;
            }
        }
        .line{
            background: $accent;
            opacity: 1;
            margin-bottom: 50px;
        }
        .service-inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            margin: 0 auto;
            .item{
                width: 390px;
                height: 300px;
                border: 1px solid $accent;
                border-radius: 30px;
                box-shadow: 1px 4px 8px 4px rgba(30, 151, 239, 0.06);
                flex: 1 1 1 1;
                display: flex;
                flex-direction: column;
                justify-content: start;
                padding: 30px;
                margin-right: 15px;

                margin-bottom: 100px;
                .subtitle{
                    font-size: 24px;
                    line-height: 28px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                .service-price{
                    text-transform: uppercase;
                    line-height: 28px;
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 60px;
                    span{
                        font-size: 24px;
                        color: $accent;
                        .mini{
                            font-size: 14px;
                        }
                    }
                }
                img{
                    width: 100px;
                    margin-bottom:10px;
                }
            }
        }
    }
}









.slider-sect {
    background-image: url(../images/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;

    .container {
        .title {
            font-size: 48px;
            line-height: 56px;
            text-transform: uppercase;
            font-weight: 700;
            padding-top: 50px;

            span {
                color: $accent;
            }
        }
    }
}
footer{
    background-color: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
    position: static;
    .container{
        .footer-inner{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
               div{
                 margin-top: 22px;
                 text-transform: uppercase
               }
            }
            .navbar{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .list{
                    margin-top: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 625px;
                    margin-bottom: 55px;
                    li:hover{
                        color: $accent;
                        font-weight: 700;
                    }
                    li{
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
                .link{
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    font-size: 14px;
                }
                
            }
            .info{
                display: flex;
                flex-direction: column;
                .tel{
                    a{
                        line-height: 22px;
                        font-weight: 700;
                        margin-right: 22px;
                        color: $accent;
                    }
                    margin-bottom: 25px;
                }
                .adres{
                    margin-bottom: 50px;
                }
            }
        }
        .footer-inner-mb{
            display: none;
            .logo{
                margin-bottom: 15px;
                a{
                    img{
                        width: 85px;
                        height: 50px;
                    }
                }
            }
            .mb-inner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .one{
                    div{
                        font-size: 6px;
                        line-height: 7px;
                        margin-bottom: 15px;
                        text-transform: uppercase;
                    }
                    a{
                        text-transform: uppercase;
                        font-size: 6px;
                        line-height: 7px;
                        text-decoration-line: underline;
                        
                    }
                }
                .two{
                    div{
                        font-size: 6px;
                        line-height: 7px;
                        margin-bottom: 15px;
                    }
                    a{
                        text-transform: uppercase;
                        font-size: 6px;
                        line-height: 7px;
                    }
                }
                .tree{
                    font-size: 10px;
                    line-height: 12px;
                    color: $accent;
                    font-weight: 700;
                    a{
                        display: block;
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }
}










@media(max-width: 1650px) {
    .container {
        min-width: 1400px;
    }
}
@media(max-width: 1400px) {
    .container {
        min-width: 1200px;
    }
    .price {
        .container {
            .price-inner {
                .item {
                    width: 376px;
                }
            }
        }
    }
}
@media(max-width: 1200px) {
    .container {
        min-width: 900px;
    }
    header {
        .container {
            .nav {
                margin-left: -300px;
            }

            .tel {
                display: none;
            }
        }
    }
    .price {
        display: block;
        background-image: none;

        .container {
            .price-inner {
                flex-direction: column;

                .item {
                    width: 476px;
                    margin-bottom: 45px;
                }
            }
        }
    }
    .service{
        margin-top: 1200px;
    }
    footer{
        .container{
            .footer-inner{
                display: none;
            }
            .footer-inner-mb{
                display: block;
                .logo{
                    margin-bottom: 25px;
                    a{
                        img{
                            width: 160px;
                            height: 120px;
                        }
                    }
                }
                .mb-inner{
                    .one{
                        div{
                            font-size: 14px;
                            line-height: 16px;
                        }
                        a{
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    .two{
                        div{
                            font-size: 14px;
                            line-height: 16px;
                        }
                        a{
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }
                    .tree{
                        font-size: 16px;
                        line-height: 16px;

                    }
                }
            }
        }
    }

}
@media(max-width: 900px) {
    .container {
        min-width: 768px;
    }
    .service{
        .container{
            .service-inner{
                .item{
                    max-width: 130px;
                    max-height: 110px;
                    padding: 10px; 
                    border-radius: 20px;
                    margin-bottom: 30px;
                    img{
                        max-width: 36px;
                        margin-bottom: 5px;
                    }
                    .subtitle{
                        font-size: 9px;
                        line-height: 11px;
                    }
                    .service-price{
                        font-size: 6px;
                        line-height: 20px;
                        margin: 0;
                        span{
                            font-size: 10px;
                            line-height: 20px;
                            .mini{
                                font-size: 6px;
                                line-height: 20px;

                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 768px) {
    .container {
        min-width: 560px;
    }
    .menu-btn{
        display: block;
    }
    .menu-burger{
        .menu{
            .logo{
                padding: 20px 15px;
                a{
                    img{
                        max-width: 150px;
                    }
                }
            }
            nav{
                margin-left: 25px;
                li:hover{
                    color: $accent;
                }
                li{
                    font-size: 18px;
                    line-height: 21px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                li:nth-child(5){
                    margin-bottom: 35px;
                }
            }
            .adres{
                margin-left: -8px;
                font-size: 14px;
                line-height: 17px;
                li{
                    margin-bottom: 10px;
                }
                li:hover{
                    color: $accent;
                }
            }
            .items{
                display: flex;
                margin-left: -10px;
                margin-bottom: 30px;
                li{
                    margin-right: 30px;
                }
                li:hover{
                    a{
                        path{
                            fill: $accent;
                        }
                        circle{
                            stroke: $accent;
                        }
                    }
                }
            }
            .button{
                button:hover{
                    color: $white;
                    background: linear-gradient(180deg, #1E97EF 0%, #006FBF 100%);
                }
                button{
                    border: 2px solid $accent;
                    font-size: 10px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-weight: 700;
                    width: 150px;
                    outline: none;
                    border-radius: 40px;
                    padding: 15px;
                    margin-left: 15px;
                    color: $accent;
                }
            }
        }
    }
    header {
        .container {
            .nav {
                display: none;
            }

            .logo {
                a {
                    img {
                        width: 190px;

                    }
                }
            }
        }
    }
    .main{
        .container{
            .dom{
                padding-top: 20px;
                margin-bottom: 10px;
            }
            .title{
                font-size: 23px;
                line-height: 27px;
                padding-bottom: 20px;
            }
        }
    }
    .price{
        .container{
            .title{
                font-size: 24px;
                line-height: 34px;
            }
        }
    }

    .service{
        .container{
            .title{
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 30px;
            }
            nav{
                width: 100%;
                margin-bottom: 10px;
                li{
                    font-size: 6px;
                    line-height: 7px;
                    margin-right: 20px;
                }
            }
            .line{
                margin-bottom: 30px;
            }
            .service-inner{
                justify-content: center;
            }
        }
    }    
    .slider-sect{
        .container{
            .title{
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
    footer{
        .container{
            .footer-inner{
                display: none;
            }
            .footer-inner-mb{
                display: block;
                .logo{
                    margin-bottom: 25px;
                    a{
                        img{
                            width: 85px;
                            height: 50px;
                        }
                    }
                }
                .mb-inner{
                    .one{
                        div{
                            font-size: 6px;
                            line-height: 7px;
                            margin-bottom: 15px;
                            text-transform: uppercase;
                        }
                        a{
                            text-transform: uppercase;
                            font-size: 6px;
                            line-height: 7px;
                            text-decoration-line: underline;
                            
                        }
                    }
                    .two{
                        div{
                            font-size: 6px;
                            line-height: 7px;
                            margin-bottom: 15px;
                        }
                        a{
                            text-transform: uppercase;
                            font-size: 6px;
                            line-height: 7px;
                        }
                    }
                    .tree{
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}
@media(max-width: 560px) {
    .container {
        min-width: 360px;
    }
    .logo {
        a {
            img {
                max-width: 92px;


            }
        }
    }
    .price {
        .container {
            .price-inner {
                .item {
                    width: 356px;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .menu-burger
        .menu-btn{
           span{
               width: 40px;
               top: 5%;
           }
           span:nth-of-type(2) {
                top: calc(5% - 8px);
            }
            span:nth-of-type(3) {
                top: calc(5% + 8px);
            }
            span:nth-of-type(4) {
                top: calc(5% + 15px);
            }
            .menu{
                .logo{
                    a{
                        img{
                            width: 150px;
                        }
                    }
                }
            }
    }
    .menu{
        width: 90%;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 4%;
        transform:  rotate(45deg);  
        z-index: 2000;
        width: 30px;
        left: 87%;
      }
      .menu-btn.active span:nth-of-type(3) {
        top: 4%;
        left: 87%;
        transform:  rotate(-45deg); 
        z-index: 1001;
        width: 30px;
      }
}
@media(max-width: 360px) {
    .container {
        min-width: 300px;
    }
    .price {
        .container {
            .title {
                font-size: 23px;
                line-height: 27px;
                margin-bottom: 40px;
            }

            .price-inner {

                align-items: center;

                .item {
                    width: 300px;
                    height: 390px;

                    .item-title {
                        font-style: 18px;
                        line-height: 28px;
                    }

                    .line {
                        width: 250px;
                    }

                    .list {
                        font-size: 14px;
                        line-height: 28px;
                    }

                    .text {
                        font-size: 14px;
                        line-height: 28px;
                    }

                    .button {
                        button {
                            width: 255px;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}